{% extends "registration/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="main-logo">
    <img src="{% static 'images/logo.jpg' %}"/>
</div>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Bonjour!</h3>
                </div>
                <div class="card-body p-4">
                    {% if form.errors %}
                        <div class="alert alert-danger text-center">
                            Identifiants invalides, merci de réessayer.
                        </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
                    </form>
                </div>
            </div>
            <p class="text-center mt-3">
            </p>
        </div>
    </div>
</div>
{% endblock %}
