{% extends "base.html" %}

{% block title %}Détails du rôle{% endblock %}
{% block header %}Détails du rôle{% endblock %}

{% block content %}
<h2>Détails du rôle</h2>

<div>
    <p><strong>Nom du rôle:</strong> {{ role.name }}</p>
    <p><strong>Description:</strong> {{ role.desc_role }}</p>
    <p><strong>Date de création:</strong> {{ role.created_at }}</p>
    <p><strong>Dernière mise à jour:</strong> {{ role.updated_at }}</p>
</div>

<!-- Edit and Delete Buttons -->
<div style="margin-top: 20px;">
    <a href="{% url 'role_update' role.pk %}" class="btn btn-secondary">
        <i class="fas fa-edit"></i> Modifier
    </a>
    <a href="{% url 'role_delete' role.pk %}" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i> Supprimer
    </a>
</div>
{% endblock %}
