{% extends "base.html" %}
{% block title %}Liste des Caractéristiques d'Articles{% endblock %}
{% block header %}Liste des Caractéristiques d'Articles{% endblock %}

{% block content %}
<h2>Caractéristiques d'Articles</h2>

<div style="text-align: right; margin-bottom: 10px;">
    <a href="{% url 'itemcharacteristic_create' %}" class="btn btn-primary">
        <i class="fas fa-plus"></i> Ajouter une Caractéristique
    </a>
</div>


<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for characteristic in characteristics %}
        <tr>
            <td>{{ characteristic.name }}</td>
            <td>
                <a href="{% url 'itemcharacteristic_update' characteristic.pk %}" class="btn btn-secondary"><i class="fas fa-edit"></i> Modifier</a>
                <a href="{% url 'itemcharacteristic_delete' characteristic.pk %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if characteristic.has_previous %}
        <a href="?page=1" class="pagination-link first">&laquo; Premiere page</a>
        <a href="?page={{ characteristic.previous_page_number }}" class="pagination-link prev">Precedent</a>
    {% endif %}

    {% for num in characteristic.paginator.page_range %}
        {% if characteristic.number == num %}
            <span class="pagination-link active">{{ num }}</span>
        {% elif num > characteristic.number|add:-3 and num < characteristic.number|add:3 %}
            <a href="?page={{ num }}" class="pagination-link">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if characteristic.has_next %}
        <a href="?page={{ characteristic.next_page_number }}" class="pagination-link next">Suivant</a>
        <a href="?page={{ characteristic.paginator.num_pages }}" class="pagination-link last">Derniere page &raquo;</a>
    {% endif %}
</div>
{% endblock %}
