{% extends "base.html" %}
{% block title %}Liste des Prix{% endblock %}

{% block content %}
    <h2>Liste des Prix</h2>

    <div style="text-align: right; margin-bottom: 10px;">

        <a href="{% url 'pricelist_create' %}" class="btn btn-primary mb-3">Ajouter un Prix</a>
    </div>
    
    
    <table class="table">
        <thead>
            <tr>
                <th>Service</th>
                <th>Type de Vêtement</th>
                <th>Caractéristique</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in pricelist %}
            <tr>
                <td>{{ entry.service.name }}</td>
                <td>{{ entry.item_type.name }}</td>
                <td>{{ entry.item_characteristic.name }}</td>
                <td>{{ entry.price }}</td>
                <td>
                    <a href="{% url 'pricelist_update' entry.pk %}" class="btn btn-secondary"><i class="fas fa-edit"></i> Modifier</a>
                    <a href="{% url 'pricelist_delete' entry.pk %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Aucune entrée de prix trouvée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if item_type.has_previous %}
            <a href="?page=1" class="pagination-link first">&laquo; Premiere page</a>
            <a href="?page={{ item_type.previous_page_number }}" class="pagination-link prev">Precedent</a>
        {% endif %}
    
        {% for num in item_type.paginator.page_range %}
            {% if item_type.number == num %}
                <span class="pagination-link active">{{ num }}</span>
            {% elif num > item_type.number|add:-3 and num < item_type.number|add:3 %}
                <a href="?page={{ num }}" class="pagination-link">{{ num }}</a>
            {% endif %}
        {% endfor %}
    
        {% if item_type.has_next %}
            <a href="?page={{ item_type.next_page_number }}" class="pagination-link next">Suivant</a>
            <a href="?page={{ item_type.paginator.num_pages }}" class="pagination-link last">Derniere page &raquo;</a>
        {% endif %}
    </div>
{% endblock %}
